@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Dosis';
}

body{
  background: linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);
}

main{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

li{
  list-style: none;
}

.calculadora{
  display: flex;
  position: fixed;
  flex-direction: column;
  /* border: 2px solid #000; */
  width: 300px;
  border-radius: 1rem;
  padding: 30px 15px;
  backdrop-filter: blur(2px);
  box-shadow: 0 18px 200px -60px #000;
  border: 2px solid #ffffff20;
  
}

.teclado{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 1.2rem;
}

.teclado li{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  /* background-color: #a1a1a1; */
  color: #fff;
  cursor: pointer;
  /* border-radius: 1.5rem; */
  /* margin: .7rem .5rem; */
  
}

.teclado li:hover{
  background-color: #ffffff40;
}


.result{
  display: flex;
  /* border: 2px solid #c3c3c3; */
  padding: 1rem;
  background-color: #ffffff10;
  color: #fff;
  border-radius: 1rem;
  justify-content: end;
  
}

.result span{
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 1.5rem;
  animation-name: shift;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes shift{
  0%{
    border: none;
  }
  100%{
    border-right: 2px solid #fff;
  }
}

.footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  padding: 15px;
}

.footer ul{
  display: flex;
}

.footer ul li{
  height: 20px;
  margin: 0 15px;
}

.footer ul li img{
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.footer ul li a .icon{
  /* background: #fff; */
  /* color: #fff; */
  
}
.footer span{
  color: #fff;
  /* background-color: transparent; */
}

